.prima h1{
	color: #111;
}

.prima footer h5{
	color: white;
}

.prima footer a{
	color: white;
}

.prima #sub-footer{
	background-color: #83b9e8;
}

.prima .copyright p{
	color: white;
}

.prima .credits{
	color: white;
}

.prima body{
	background-color: white;
}

.prima .navbar{
	background-color: #83b9e8;
}

.prima .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	color: #eb5a3d;
}

.prima footer{
	background-color: #83b9e8;
	color: white;
}

.prima .CambioTestoBody{
	color: #111;
}

.prima a, a:hover, a:focus, a:active, footer a.text-link:hover, strike, .post-meta span a:hover, footer a.text-link, ul.meta-post li a:hover, ul.cat li a:hover, ul.recent li h6 a:hover, ul.portfolio-categ li.active a, ul.portfolio-categ li.active a:hover, ul.portfolio-categ li a:hover, ul.related-post li h4 a:hover, span.highlight, article .post-heading h3 a:hover, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > li > a:hover, .navbar .nav > li > a:focus, .navbar .nav > .active > a:focus{
	color: #ed6a52;
}

.prima.bolle{
	background-image: url(../svg/bolleblue.svg);
	background-size: cover;
}
