.jsboxin{
	height:200px;
	width:100%;
	/*background: url(../img/pivot-in.jpg) center center no-repeat; /* This ruins default border */
  	border: 1px solid #888; 
}

.jsboxout{
	height:200px;
	width:100%;
	/*background: url(../img/pivot-out.jpg) center center no-repeat; /* This ruins default border */
  	border: 1px solid #888; 
}

